@{
    ViewData["Title"] = "Categories";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Time of Day</h1>
    <ul>
        <a href="index.html"><li>Breakfast</li></a>
    </ul>
    <br />
    <h1 class="display-4">Other Categories</h1>
    <ul>
        <a href="index.cshtml"><li>Yeet</li></a>
    </ul>
</div>




