@{
    ViewData["Title"] = "Categories";
}
<h1>@ViewData["Title"]</h1>
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            categories();
        });
    </script>
</head>
    <div style="position:relative">
        <div id="results"></div>
    </div>




