@{
    ViewData["Title"] = "Favorites";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Saved Favorites</h1>
    <ul>
        <a href="index.html"><li>home</li></a>
    </ul>
    <br />
</div>




