@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <title>Recipe Search</title>
    </head>

    <main>
        <div class="text-center">

            <h1 class="display-4">Recipe Search</h1>

            <input type="text" name="query" id="query" />
            <button onclick="apiSearch()" id="search">Search</button>
            <br />

            <div id="results"></div>
            <div id="hiddenLink"></div>
        </div>
        <script>
            function saveRecipe(url) {
                var link = "<a href=\"" + url + "\"></a>";
                $("#hiddenLink").append(link);

                $.ajax({
                    url: '@Url.Action("SaveRecipe", "Home")',
                    type: "POST"
                })
                    .done(function () {
                        alert("Saved to profile");
                    });
            }

            //$(function () {
            //    $('.button').click(function () {
            //        alert($(this).attr('at'));
            //    });
            //});
        </script>
    </main>