@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">


        <h1 class="display-4">Recipe Search</h1>

        <input type="text" name="query" id="query" />
        <button onclick="apiSearch()" id="search">Search</button>
        <br />
        <div id="results"></div>

    </div>
